[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
c3po = {editable = true, path = "."}

[dev-packages]
c3po = {editable = true, extras = ["test"], path = "."}
autopep8 = "*"
